*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body:not(.dash-body) {
  text-align: center;
  padding-bottom: 5rem;

  place-content: center;
  justify-items: center;
}

body:not(.orders-body) {
  display: grid;
}

input:not(input[type="radio"]) {
  display: block;
  width: 50ch;
  margin-inline: auto;
}

input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"] {
  margin-block: 0.25rem 0.5rem;
  padding: 0.5rem;
}

nav {
  margin-block: 2rem;
}

#products-page-nav,
#add-product-nav,
#cart-nav {
  margin-top: 2rem;
}

main {
  width: 550px;
  text-align: center;
}

form {
  outline: 1px solid black;
  padding-block: 1rem 1.5rem;
}

#create-user-form {
  display: none;
}

button {
  font: inherit;
  margin-top: 1rem;
  padding-block: 0.5rem 0.75rem;
  padding-inline: 2rem;
  border-radius: 15px;
  cursor: pointer;
  border: none;
  outline: 1px solid black;
  background: none;
}

a {
  text-decoration: none;
  color: currentColor;
  margin-top: 1rem;
  padding-block: 0.5rem 0.75rem;
  padding-inline: 2rem;
  border-radius: 15px;
  cursor: pointer;
  outline: 1px solid black;
}

#edit-user-home-link {
  margin-top: 2rem;
}

.login-bug {
  position: absolute;
  top: 1.75rem;
  left: 2.75rem;
  min-height: 100px;
}

#avatar {
  width: 50px;
  border-radius: 50%;
  max-height: 50px;
  object-fit: contain;
}

.spacer {
  min-height: 55px;
}

#btn-logout {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  text-wrap: nowrap;
}

#edit-user-form {
  display: none;
  margin-top: 3rem;
}

.products-wrapper {
  --overlay-display: none;
  display: flex;
  flex-wrap: wrap;
  width: 75vw;
  justify-content: space-around;
  row-gap: 1rem;
}

#login-message {
  --overlay-display: none;
}

#add-prod-main {
  --overlay-display: none;
}

.products-wrapper:after,
#login-message:after,
#add-prod-main:after {
  content: "GO LOG IN";
  color: purple;
  font-size: 2.5rem;
  font-weight: 700;
  position: fixed;
  inset: 0;
  background-color: rgba(128, 128, 128, 0.4);
  display: var(--overlay-display);
  place-items: center;
  pointer-events: none;
}

#add-prod-main:after {
  content: "NOT ADMIN";
}

.product-card {
  flex-basis: 300px;
  padding: 1rem;
  outline: 1px solid black;
}

img {
  width: 150px;
  max-width: 100%;
}

.cart-bug {
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* outline: 2px solid lime; */
  width: 50px;
}

.cart-bug span {
  position: absolute;
  left: 0;
  background: purple;
  color: white;
  border-radius: 50%;
  font-size: 1rem;
  width: 1.5rem;
  aspect-ratio: 1;
}

.product-card .prod-qty {
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 4rem;
  text-align: center;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  table-layout: fixed;
  position: relative;
}

caption {
  margin-block: 0rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

th {
  padding: 1rem 1.5rem;
  font-weight: 600;
}

table img {
  max-width: 50px;
}

tr {
  border: 1px solid black;
  padding-inline: 1rem;
}

td {
  padding: 1rem;
}

table button {
  margin-top: 0rem;
  padding-block: 0.25rem 0.5rem;
  padding-inline: 1rem;
}

tfoot td,
tfoot th {
  padding: 0;
  border: none;
}

tfoot th {
  padding-block: 0.5rem 0.65rem;
  font-weight: 400;
}

tfoot tr:last-child th,
tfoot tr:last-child td:last-child {
  font-size: 1.5rem;
  font-weight: 700;
}

tfoot tr:last-child td {
  padding-inline: 0.5rem;
}

tfoot tr {
  border: none;
}

#modal-update-qty {
  width: 4rem;
  text-align: right;
  writing-mode: ltr;
  padding: 0.25rem;
  font-size: 1.25rem;
  margin-top: 1rem;
}

dialog {
  margin: auto;
  padding: 2rem;
}

.modal-prod-info-wrapper {
  display: grid;
  margin-top: 1rem;
  gap: 1rem;
  justify-items: center;
  width: 350px;
}

.cart-msg,
.home-message,
tfoot tr:first-child td:nth-child(2) {
  font-size: 1.5rem;
  font-weight: 600;
}

.shipping-info-wrapper {
  height: 1.75rem;
  padding-left: 3rem;
}

tfoot tr:first-child td:first-child,
tfoot tr:first-child td:nth-child(2) {
  padding-left: 3.125rem;
}

tfoot tr:last-child td,
tfoot tr:last-child th {
  padding-bottom: 2rem;
}

tfoot tr:first-child td {
  padding-top: 1rem;
}

tfoot tr:first-child th {
  padding-top: 1.5rem;
}

.order-numbers-wrapper {
  position: absolute;
  top: 15rem;
  left: 1rem;
  text-align: left;
}

.order-numbers-wrapper p:first-child {
  margin-bottom: 0.5rem;
}

.order {
  font-size: 1.25rem;
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 1rem;
}

#order-details {
  margin-top: 5rem;
  font-size: 1.25rem;
  display: grid;
  gap: 0.5rem;
  width: 65%;
  margin-inline: auto;
}

/* .dash-body * {
  outline: 2px solid limegreen;
} */

#dashboard-main {
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-areas:
    "date total-sales total-qty avg-ord last7 last7 "
    "header header header header header header"
    "orders orders orders orders orders orders";
  grid-template-rows: 150px 1fr;
}

.date {
  font-size: 1.125rem;
  line-height: 1;
  margin-bottom: 0.5rem;
}
.time {
  font-size: 1.125rem;
  line-height: 1;
}

#dashboard .orders-wrapper span {
  text-align: initial;
}

.dash-body {
  background-color: rgb(61, 61, 61);
  color: rgb(202, 201, 201);
}

.date-wrapper h1 {
  margin-bottom: 0.5rem;
}

.last-week-sales-wrapper p {
  margin-top: 1rem;
}

.date-wrapper {
  grid-area: date;
}
.total-sales-wrapper {
  grid-area: total-sales;
}
.last-week-sales-wrapper {
  grid-area: last7;
  height: 150px;
}
.total-orders-wrapper {
  grid-area: total-qty;
}
.avg-order-price-wrapper {
  grid-area: avg-ord;
}
.header {
  grid-area: header;
  width: 100vw;
}
.header table {
  width: 100%;
}
.dash-orders-wrapper {
  grid-area: orders;
  height: calc(100vh - 261px);
  width: 100vw;
  overflow-y: auto;
}
.dash-orders-wrapper table {
  width: 100%;
}

/* .orders-wrapper tr td:nth-child(n + 6):nth-child(-n + 10) {
  width: 75px;
} */

.orders-wrapper table {
  width: 100%;
}

.orders-wrapper td {
  padding: 0.3rem 0;
}

.orders-wrapper caption {
  margin: 0;
  margin-bottom: 1rem;
}

/* bar graph */
.last-week-sales-wrapper {
  --highest-day-text: "";
  --lowest-day-text: "";
  --highest-color: ;
  --lowest-color: ;
  width: 65%;
  position: relative;
}

.last-week-sales-wrapper:before {
  /* this will be the highest day */
  content: var(--highest-day-text);
  position: absolute;
  background-color: var(--highest-color);
  color: black;
  width: 50px;
  height: 50px;
  top: 2rem;
  right: 105%;
  line-height: 1.5;
  border-radius: 5px;
}
.last-week-sales-wrapper:after {
  /* this will be the lowest day */
  content: var(--lowest-day-text);
  position: absolute;
  background-color: var(--lowest-color);
  color: black;
  width: 50px;
  height: 50px;
  bottom: 0.75rem;
  right: 105%;
  line-height: 1.4;
  border-radius: 5px;
}

.last-week-sales-wrapper p {
  margin: 0;
  /* outline: 2px solid lime; */
  text-wrap: nowrap;
  transform: translateX(2px);
  display: flex;
  justify-content: space-around;
}

.inner-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  /* gap: 1rem; */
  align-items: end;
  justify-content: space-around;
  padding-top: 0.5rem;
}

.inner-wrapper > *:not(legend) {
  /* flex: 1; */
  flex-basis: calc(100% / 7 - 0.75rem);
  /* background-color: darkmagenta; */
}

legend {
  margin-inline: auto;
}

.bar-chart-1 {
  /* height: 30%; */
  background-color: #fd7f6f;
}
.bar-chart-2 {
  /* height: 60%; */
  background-color: #ffb55a;
}
.bar-chart-3 {
  /* height: 40%; */
  background-color: #ffee65;
}
.bar-chart-4 {
  /* height: 100%; */
  background-color: #b2e061;
}
.bar-chart-5 {
  /* height: 50%; */
  background-color: #7eb0d5;
}
.bar-chart-6 {
  /* height: 65%; */
  background-color: #bd7ebe;
}
.bar-chart-7 {
  /* height: 45%; */
  background-color: #fdcce5;
}
